variables:
  COMPONENT_IMAGE_PRIVATE_REGISTRY: registry.moetz.dev/dead-drop:$CI_BUILD_REF_NAME
  COMPONENT_LATEST_IMAGE_PRIVATE_REGISTRY: registry.moetz.dev/dead-drop:latest
  COMPONENT_IMAGE_DOCKER_HUB: flowmo7/dead-drop:$CI_BUILD_REF_NAME
  COMPONENT_LATEST_IMAGE_DOCKER_HUB: flowmo7/dead-drop:latest

stages:
  - build_application
  - build_image
  - tag_image


build application:
  stage: build_application
  script:
    - ./gradlew clean build test shadowJar
  artifacts:
    paths:
      - build/libs/DeadDrop.jar
  tags:
    - maven

build and push private registry:
  stage: build_image
  script:
    - docker build --pull -t $COMPONENT_IMAGE_PRIVATE_REGISTRY ./
    - docker login -u $REGISTRY_MOETZ_DEV_USERNAME -p $REGISTRY_MOETZ_DEV_PASSWORD registry.moetz.dev
    - docker push $COMPONENT_IMAGE_PRIVATE_REGISTRY
  tags:
    - docker
  only:
    - develop
    - master
    - tags

build and push docker hub:
  stage: build_image
  script:
    - docker build --pull -t $COMPONENT_IMAGE_DOCKER_HUB ./
    - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_PASSWORD
    - docker push $COMPONENT_IMAGE_DOCKER_HUB
  tags:
    - docker
  only:
    - develop
    - master
    - tags

tag latest private registry:
  stage: tag_image
  script:
    - docker login -u $REGISTRY_MOETZ_DEV_USERNAME -p $REGISTRY_MOETZ_DEV_PASSWORD registry.moetz.dev
    - docker pull $COMPONENT_IMAGE_PRIVATE_REGISTRY
    - docker tag $COMPONENT_IMAGE_PRIVATE_REGISTRY $COMPONENT_LATEST_IMAGE_PRIVATE_REGISTRY
    - docker push $COMPONENT_LATEST_IMAGE_PRIVATE_REGISTRY
  tags:
    - docker
  only:
    - master

tag latest docker hub:
  stage: tag_image
  script:
    - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_PASSWORD
    - docker pull $COMPONENT_IMAGE_DOCKER_HUB
    - docker tag $COMPONENT_IMAGE_DOCKER_HUB $COMPONENT_LATEST_IMAGE_DOCKER_HUB
    - docker push $COMPONENT_LATEST_IMAGE_DOCKER_HUB
  tags:
    - docker
  only:
    - master
